<ng-include src="templates.header" ng-init="search.start ();"></ng-include>
<div class="container" style="margin-bottom: 2em!important;">
	<div class="row">
		<div class="col-sm-12 col-md-6" >
			<div class="input-field">
	        	<input name="search" type="text" class="validate" ng-model="search.text" required="required">
	        	<label for="search">Search Fashion Houses Directory:</label>
	        </div>
			<table class="table">
				<tr>
					<td width="50">
						<img src="assets/images/profile-blank.png" width="50">	
					</td>
					<td>
						<h6 ng-click="actions.fashion_house.click(fashion_house)">
							Fashion House Name
							<div style="padding-top: 5px;">
								<small>
									Registered Designers <span>21</span>
									&nbsp;|&nbsp; 
									Designs <span>21</span>
								</small>
							</div>
						</h6>
					</td>
				</tr>
			</table>
		</div>
		<div class="col-sm-12 col-md-6">
			<form name="form">
				<div class="card hoverable">
                    <div class="card-content">
                        <h5>
                            Fashion House<br>
                            <small class="text-red font-12 bold" ng-show="error.fashion_house.available" 
                            	ng-bind="error.fashion_house.message"></small>
                        </h5>

                        <div class="row">
                        	<small class="col-xs-12 text-center info">click image to change logo</small>
                        	<br>
                        	<div class="card-image col-sm-12 col-md-4 col-md-offset-4">
                        		<img src="assets/images/profile-blank.png" class="" />
                        	</div>
                        </div>

                        <div class="row">
                        	<div class="input-field col-xs-12">
					        	<input name="username" type="text" class="validate"
					        		ng-model="data.fashion_house.usernanme" required="required" />
					        	<label for="username">
					        		Enter Fashion House Name: &nbsp;
					        		<span ng-show="(form.username.$touched || form.$submitted) && 
					        			(form.username.$error.required || form.username.$error.length < 10)">
					        			<small ng-show="form.username.$error.required" class="text-danger">
					        				Enter your username!
					        			</small>
					        		</span>
					        	</label>
					        </div>
                        </div>

                        <div class="row">
                        	<div class="input-field col-xs-12">
					        	<input name="registered" type="radio" class="validate"
					        		ng-model="data.fashion_house.registered" required="required" />
					        	<label for="registered">
					        		Enter Fashion House Registered As a Company with C.A.C.?: &nbsp;
					        	</label>
					        </div>
                        </div>

                        <div class="row" ng-show="data.fashion_house.registered">
                        	<div class="input-field col-xs-12">
					        	<input name="rc_number" type="text" class="validate"
					        		ng-model="data.fashion_house.rc_number" />
					        	<label for="rc_number">
					        		Enter Fashion House ({{data.fashion_house.name}}) rc number: &nbsp;
					        		<span ng-show="(form.rc_number.$touched || form.$submitted) && data.fashion_house.registered">
					        			<small ng-show="form.rc_number.$error.required" class="text-danger">
					        				Tell us your rc number!
					        			</small>
					        		</span>
					        	</label>
					        </div>
                        </div>

                        <div class="row">
                        	<div class="input-field col-xs-12">
					        	<input name="pobox" type="text" class="validate"
					        		ng-model="data.fashion_house.pobox" required="required" />
					        	<label for="pobox">
					        		Enter Fashion House P.O.Box: &nbsp;
					        	</label>
					        </div>
                        </div>

                        <div class="row">
                        	<div class="input-field col-xs-12">
					        	<textarea name="address" rows="2" class="materialize-textarea"
					        		ng-model="data.fashion_house.address" required="required"></textarea>
					        	<label for="address">
					        		Enter Fashion House Address: &nbsp;
					        		<span ng-show="(form.address.$touched || form.$submitted) && form.address.$error.required">
					        			<small ng-show="form.address.$error.required" class="text-danger">
					        				Tell us your Address!
					        			</small>
					        		</span>
					        	</label>
					        </div>
                        </div>

                        <div class="row">
                        	<div class="input-field col-xs-12">
					        	<input name="state" type="text" class="validate"
					        		ng-model="data.fashion_house.state" required="required" />
					        	<label for="state">
					        		Enter Fashion House State: &nbsp;
					        		<span ng-show="(form.state.$touched || form.$submitted) && form.state.$error.required">
					        			<small ng-show="form.state.$error.required" class="text-danger">
					        				Tell us the state the fashion house is located at!
					        			</small>
					        		</span>
					        	</label>
					        </div>
                        </div>

                        <div class="row">
                        	<div class="input-field col-xs-12">
					        	<input name="contact_person" type="text" class="validate"
					        		ng-model="data.fashion_house.contact_person" />
					        	<label for="contact_person">
					        		Enter Contact Person's Fullname: &nbsp;
					        	</label>
					        </div>
                        </div>

                    </div>
                    <!--Buttons-->
                    <div class="card-btn text-center">
                    	<button class="btn btn-default btn-md waves-effect waves-light" type="submit" 
                    		ng-click="actions.fashion_house.commit(form);">
                    		commit
                    	</button>
                    	<button class="btn btn-danger btn-md waves-effect waves-light" type="reset"
                    		ng-click="actions.fashion_house.drop();">
                    		drop /delete
                    	</button>
                    	<button class="btn btn-info btn-md waves-effect waves-light" type="reset"
                    		ng-click="actions.fashion_house.clear();">
                    		clear
                    	</button>
                    </div>
                    <!--/.Buttons-->
                </div>
			</form>
		</div>
	</div>
</div>