<ng-include src="templates.header"></ng-include>

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<form name="form">
				<div class="card hoverable">
                    <div class="card-content">
                        <h5>
                            Sign In<br>
                            <small class="text-red font-12 bold" ng-show="authentication.error.available" 
                            	ng-bind="authentication.error.message"></small>
                        </h5>

                        <div class="row">
                        	<div class="input-field col-xs-12">
					        	<input name="username" type="text" class="validate"
					        		ng-model="authentication.data.username" required="required">
					        	<label for="username">
					        		Enter Username: &nbsp;
					        		<span ng-show="(form.username.$touched || form.$submitted) && 
					        			(form.username.$error.required || form.username.$error.length < 10)">
					        			<small ng-show="form.username.$error.required" class="text-danger">Enter a username!</small>
					        			<small ng-show="form.username.$error.length < 10" class="text-danger">Enter a username with minimum length (10)</small>	
					        		</span>
					        	</label>
					        </div>

					        <div class="input-field col-xs-12">
					        	<input name="password" type="password" class="validate"
					        		ng-model="authentication.data.password" required="required">
					        	<label for="password">
					        		Enter Password: &nbsp;
					        		<span ng-show="(form.password.$touched || form.$submitted) && 
					        			(form.password.$error.required || form.password.$error.length < 10)">
					        			<small ng-show="form.password.$error.required" class="text-danger">Enter a password!</small>
					        			<small ng-show="form.password.$error.length < 10" class="text-danger">Enter a password with minimum length (10)</small>	
					        		</span>
					        	</label>
					        </div>
					        
                        </div>
                    </div>
                    <!--Buttons-->
                    <div class="card-btn text-center">
                    	<button class="btn btn-default btn-md waves-effect waves-light" 
                    		type="submit" ng-click="authentication.auth(form);">sign In</button>
                    	<span>New User? <a href="/sign-up">sign up here</a></span>
                    	<div>
                    		<a href="/forgot-password">Forgot Password ?</a>
                    	</div>
                    </div>
                    <!--/.Buttons-->
                </div>
			</form>
		</div>
	</div>
</div>