<ng-include src="templates.header" ng-init="myProduct.start ();"></ng-include>
<div class="container" style="margin-bottom: 3em;">
	
	<div class="row">
		<div class="col-xs-12">
			<span class="pull-left text-info" style="font-size: 16px; margin-top: 2%;">
				<span>1 </span> of <span> 21</span>
				<div>
					REAR VIEW
				</div>
			</span>
			<span class="pull-md-right pull-lg-right">
				<button class="btn white waves-effect waves-ripple">
					Select Category: &nbsp; <small class="text-success">sample categories</small>
				</button>

				<button class="btn white waves-effect waves-ripple waves-green">
					Select Sub Category: 
				</button>

				<button class="btn white waves-effect waves-ripple waves-green">
					Select Size: 
				</button>

				<button class="btn white waves-effect waves-ripple waves-green">
					Select Sex: 
				</button>
			</span>
		</div>
	</div>

	<hr>

	<div class="row">
		<div class="col-md-6">
			<div class="col-xs-12 text-center">
				<img src="assets/images/profile-blank.png" class="z-depth-1" 
				style="margin-bottom: 2em!important; width: 83%;" />
			</div>
			<br>
			
			<div class="col-sm-12 text-center" style="padding:0;">
				<span class="btn waves-effect waves-ripple"><< prev</span>
				<img src="assets/images/profile-blank.png" class="z-depth-1" 
					style="padding: 0; width: 8%; margin-left: 2em; margin-right: 2em;" />	
				<span class="btn waves-effect waves-light">next >></span>
			</div>

			<div class="col-xs-12">
				<hr>
			</div>
		</div>
		<div class="col-md-6">
			<table class="table">
				<thead>
					<th>
						Property	
					</th>
					<th>
						Description
					</th>
				</thead>
				<tbody>
					<tr>
						<th class="col-sm-4">Name</th>
						<td></td>
					</tr>
					<tr>
						<th>Designer</th>
						<td></td>
					</tr>
					<tr>
						<th>Fashion House</th>
						<td></td>
					</tr>
					<tr>
						<th>Product Brief</th>
						<td></td>
					</tr>
					<tr>
						<th>Product Keywords</th>
						<td>
							<div>
								Lorem Ipsum is a sample text for which you can add more text if you want to and it is to extend to more than a million characters.
							</div>
							<br>
							<div>
								Lorem Ipsum is a sample text for which you can add more text if you want to and it is to extend to more than a million characters.
							</div>
						</td>
					</tr>
					<tr>
						<th>Gender</th>
						<td>Male / Female</td>
					</tr>
				</tbody>
			</table>

			<div class="text-center text-success col-sm-12">
				<h3># 2, 330 .00</h3>
			</div>
			
			<div class="col-md-12 text-center btn-block">
				<div class="btn btn-default-light disabled waves-effect waves-ripple"><< prev product</div>
				<div class="btn btn-success waves-effect disabled waves-ripple">order</div>
				<div class="btn btn-default-dark waves-effect disabled waves-ripple">next product >></div>
			</div>
		</div>
	</div>
</div>